
<!-- 主体（一般只改变这里的内容） -->
<div class="blog-body" style="padding: 0px; margin: 0px;">

    <div class="blog-container">
        <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow" style="visibility: visible;">
            <a href="index.html" title="网站首页">网站首页<span class="layui-box">&gt;</span></a>
            <a><cite>文章专栏</cite></a>
        </blockquote>

        <div class="blog-main">

            <!--左边文章列表-->
            <div class="blog-main-left animated slideInLeft">
                <input type="hidden" id="hiddentag" value="{{.pageTag}}">

            </div>
            <!--右边小栏目-->
            <div class="blog-main-right">

            {{template "fpublic/main_right.html" }}

                {{/*<!-- 个性签名 -->*/}}
                {{/*<div class="blog-module shadow animated fadeInRight">*/}}
                    {{/*<div class="blog-module-title"><i class="fa fa-file-text-o"></i>&nbsp;个性签名</div>*/}}
                    {{/*<p>软件最大的好处，就是让一切变得简单。但是，做到这一点的方法，是正确设置缺省值，而不是限制用户的选择。&nbsp;&nbsp;&nbsp;--Paul Graham<p>*/}}
                {{/*</div>*/}}
                <!-- 广告 -->
                <div></div>
                <!-- 友情链接 -->
                {{/*<div class="blog-module shadow animated fadeInRight">*/}}
                    {{/*<div class="blog-module-title"><i class="fa fa-link"></i>&nbsp;友情链接</div>*/}}
                    {{/*<ul class="blogroll">*/}}
                        {{/*<li><a target="_blank" href="http://www.zuoqy.cn/" title="Layui">zuoqy博客</a></li>*/}}
                        {{/*<li><a target="_blank" href="http://www.zuoqy.cn/old" title="Layui">zuoqy博客v0.1</a></li>*/}}
                    {{/*</ul>*/}}
                {{/*</div>*/}}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!-- 本页脚本 -->
<script src="/static/frontend/js/index.js"></script>
