<!-- 主体（一般只改变这里的内容） -->
<div class="blog-body">
    <div class="layui-carousel blog-bg" id="carousel">
        <div carousel-item>
            <div class="bg "></div>
            <div class="bg "></div>
            <div class="bg "></div>
            <div class="bg "></div>
            <div class="bg "></div>
        </div>
    </div>
    <div class="blog-container">
        <div class="blog-main">
            <!-- 网站公告提示 -->
            <div class="home-tips shadow">
                <i style="float:left;line-height:17px;" class="fa fa-volume-up"></i>
                <div class="home-tips-container">
                    <span style="color: red">每天学习一点点，进步一点点，不要多，多了扯到蛋.</span>
                    <span style="color: #009688">哈哈，这是公告、这是公告、这是公告。</span>
                </div>
            </div>
            <!--左边文章列表-->
            <div class="blog-main-left animated slideInLeft">

            </div>
            <!--右边小栏目-->
            <div class="blog-main-right">
                <!-- 小编信息 -->
                <div class="blogerinfo shadow animated fadeInRight">
                    <div class="blogerinfo-figure">
                        <img src="static/frontend/images/user/13.jpg" alt="Absolutely" />
                    </div>
                    <p class="blogerinfo-nickname">王七</p>
                    <p class="blogerinfo-introduce">一枚搬运工，不生产代码,只产出BUG</p>
                    <p class="blogerinfo-location"><i class="fa fa-location-arrow"></i>&nbsp;安徽 - 合肥</p>
                    <hr />
                    <div class="blogerinfo-contact">
                        <a target="_blank" title="QQ交流" href="http://shang.qq.com/email/stop/email_stop.html?qq=524220257"><i class="fa fa-qq fa-2x"></i></a>
                        <a  title="给我写信" href="#"><i class="fa fa-envelope fa-2x"></i></a>
                        <a  title="新浪微博" href="#"><i class="fa fa-weibo fa-2x"></i></a>
                        <a  title="GitHub" href="#"><i class="fa fa-git fa-2x"></i></a>
                    </div>
                </div>

                {{template "fpublic/main_right.html" }}

                <!-- 个性签名 -->
                <div class="blog-module shadow animated fadeInRight">
                    <div class="blog-module-title"><i class="fa fa-file-text-o"></i>&nbsp;个性签名</div>
                    <p>hi, 你又在写bug了吗<p>
                </div>
                <!-- 广告 -->
                <div></div>
                <!-- 友情链接 -->
                <div class="blog-module shadow animated fadeInRight">
                    <div class="blog-module-title"><i class="fa fa-link"></i>&nbsp;友情链接</div>
                    <ul class="blogroll">
                        <li><a target="_blank" href="#" title="Layui">xxx</a></li>
                        <li><a target="_blank" href="#" title="Layui">xx</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!-- 本页脚本 -->
<script src="/static/frontend/js/index.js"></script>
