<!--热文推荐/点击排行-->
<div class="layui-tab layui-tab-brief shadow animated fadeInRight" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this">站长推荐</li>
        <li>热门排行</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <ul class="blog-module-ul" id="recommendlist">

            </ul>
        </div>
        <div class="layui-tab-item">
            <ul class="blog-module-ul" id="hotlist">

            </ul>
        </div>
    </div>
</div>

<!-- 分类导航 -->
<div class="article-category shadow ">
    <div class="article-category-title">分类导航</div>
    {{/*<a href="javascript:go(1)">杂文随笔</a>*/}}
    {{/*<a href="javascript:go(2)">JAVA基础</a>*/}}
    {{/*<a href="javascript:go(3)">Web前端</a>*/}}
    {{/*<a href="javascript:go(4)">数据库</a>*/}}
    <div class="clear"></div>
</div>

<script>
    var bgcolor = ['layui-bg-red', 'layui-bg-orange', 'layui-bg-green']
    $.ajax({
        url: "api/v1/gettaglist",
        type: 'GET',
        dataType: 'json',
        data: ''
    })
        .done(function (res) {
            if (res.code==0) {
                var html = '';
                for (var i=0; i<res.data.length; i++) {
                    html += '<a href="./farticle?tag='+res.data[i].Id+'">'+res.data[i].Name+'</a>';
                }
                $('.article-category-title').after(html);
            }
        })
        .fail(function () {

        })

    //排行、推荐列表
    $.ajax({
        url: "api/v1/getranklist",
        type: 'GET',
        dataType: 'json',
        data: ''
    })
        .done(function (res) {
            if (res.code==0) {
                var tophtml = '';
                var hothtml = '';
                for (var i=0; i<res.data.recommendlist.length; i++) {
                    tophtml += '<li><i class="layui-badge-rim '+bgcolor[(i)]+'">'+(i+1)+'</i>&nbsp;&nbsp;' +
                            '<a href="./farticle?id="'+res.data.recommendlist[i]['Id']+'>'+res.data.recommendlist[i]['Title']+'</a></li>';
                }
                for (var i=0; i<res.data.hotlist.length; i++) {
                    hothtml += '<li><i class="layui-badge-rim '+bgcolor[(i)]+'">'+(i+1)+'</i>&nbsp;&nbsp;' +
                            '<a href="./farticle?id="'+res.data.hotlist[i]['Id']+'>'+res.data.hotlist[i]['Title']+'</a></li>';

                }
                $('#recommendlist').append(tophtml);
                $('#hotlist').append(hothtml);
            }
        })
        .fail(function () {

        })

</script>