<!--热文推荐/点击排行-->
<div class="layui-tab layui-tab-brief shadow animated fadeInRight" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this">点击排行</li>
        <li>站长推荐</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <ul class="blog-module-ul">
                <li><i class="layui-badge-rim layui-bg-red">1</i>&nbsp;&nbsp;<a href="detail.html?aid=0001"><i class="layui-icon">&#xe609;</i>终于等来了,zuoqy博客v0.1!</a></li>
                <li><i class="layui-badge-rim layui-bg-orange">2</i>&nbsp;&nbsp;<a href="detail.html?aid=0005">操之过急留下的诟病</a></li>
                <li><i class="layui-badge-rim layui-bg-green">3</i>&nbsp;&nbsp;<a href="detail.html?aid=0003">不要让网络绑架了你!</a></li>
                <li><i class="layui-badge-rim">4</i>&nbsp;&nbsp;<a href="detail.html?aid=0004">阿里云ECS无法使用25端口发送邮件解决方法</a></li>
            </ul>
        </div>
        <div class="layui-tab-item">
            <ul class="blog-module-ul">
                <li><i class="layui-badge-rim layui-bg-red">1</i>&nbsp;&nbsp;<a href="detail.html?aid=0004">阿里云ECS无法使用25端口发送邮件解决方法</a></li>
                <li><i class="layui-badge-rim layui-bg-orange">2</i>&nbsp;&nbsp;<a href="detail.html?aid=0003">不要让网络绑架了你!</a></li>
                <li><i class="layui-badge-rim layui-bg-green">3</i>&nbsp;&nbsp;<a href="detail.html?aid=0002">PL/SQL入门</a></li>
                <li><i class="layui-badge-rim">4</i>&nbsp;&nbsp;<a href="detail.html?aid=0001"><i class="layui-icon">&#xe609;</i>终于等来了,zuoqy博客v0.1!</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- 分类导航 -->
<div class="article-category shadow ">
    <div class="article-category-title">分类导航</div>
    <a href="javascript:go(1)">杂文随笔</a>
    <a href="javascript:go(2)">JAVA基础</a>
    <a href="javascript:go(3)">Web前端</a>
    <a href="javascript:go(4)">数据库</a>
    <div class="clear"></div>
</div>